#live2d canvas{
    position: fixed;
    padding: 0 auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 69.5%;
}

#pop_live2d canvas {
    position: fixed;
    padding: 0 auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: aquamarine;
}
.top{
    color: #245439;
    font-size: 52px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;
}

#pro{
    margin: 0;
}

.top-acc{
    color: #ff6666;
}

body{
    font-family: 'Shippori Mincho',
    serif;
}

.tp{
    background-size: auto auto;
    background-color: rgba(237, 239, 234, 1);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 1) 50px);
}

.invert{
    background-size: auto auto;
    background-color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(237, 239, 234, 1) 10px, rgba(237, 239, 234, 1) 50px);
}


.left{
    text-align: left;
}

.col{
    padding-right: 30%;
    padding-left: 5%;
    text-align: center;
    margin-top: 0;
}

.card {
    width: 288px;
    height: auto;
    display: inline;
    cursor: pointer;

}

.card__imgframe {
    width: 100%;
    height: auto;
    max-height: 320px;
    object-position: 50% 0%;
    object-fit: cover;
    background-size: cover;
    box-sizing: border-box;
}

.card__textbox {
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card__textbox>*+* {
    margin-top: 10px;
}

.card__titletext {
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
    color: #586055;
}

.card__overviewtext {
    font-size: 12px;
    line-height: 150%;
    color: #586055;
}

.card-skin {
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.b_title{
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 1px;
}

.top_txt{
    font-size: 15px;
}

.open {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #fff;
    color: #ff6666;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

.open::after{
    background: #ff6666;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.open:hover{
    color: #fff;
    background-color: #ff6666;
}

.open:hover::after {
    transform: scale(1, 1);
}

#pop-up0,#pop-up1,#pop-up2,#pop-up3,#pop-up4 {
    display: none;
    /* label でコントロールするので input は非表示に */
}

.overlay {
    display: none;
    /* input にチェックが入るまでは非表示に */
}

#pop-up0:checked+.overlay,
#pop-up1:checked+.overlay,
#pop-up2:checked+.overlay,
#pop-up3:checked+.overlay,
#pop-up4:checked+.overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

iframe[src$=".pdf"] {
    width: 100%;
    height: 50vh;
}

.pdf{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.v{
    max-height: 380px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.ex{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;

    transform: translate(-50%, 30%);
}

.window {
    width: 90vw;
    max-width: 1000px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 18px;
    margin: 0;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 30px;
}